@model levelEditor.Models.BKG.Board

@{
    ViewData["Title"] = "Details";
}



<h2>Name: @Model.Title</h2>
<h4>Level: @Model.Level</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />



          
            <div class="form-group">
                <div class="category-container">
                    @foreach (var category in Model.Categories.OrderBy(x => x.OrderId))
                    {

                        <a href="@Url.Action("EditCategory","BKG",new { Id= category.Id, board=Model.Id })" class="category">
                            <h3 class="category-title">@category.Title</h3>
                        </a>
                    }
                </div>

                <div class="square-container">
                    @foreach (var square in Model.Squares.OrderBy(x => x.SquareId).Take(5))
                    {

                        <a asp-action="EditSquare" asp-controller="BKG" asp-route-id="@square.Id" asp-route-board="@Model.Id" asp-route-category="@square.CategoryId" class="square">

                            <p class="square-value text-center">$@square.Value</p>
                            <p class="square-question text-center">@square.Question</p>
                        </a>
                    }
                </div>
                <div class="square-container">
                    @foreach (var square in Model.Squares.OrderBy(x => x.SquareId).Skip(5).Take(5))
                    {

                        <a asp-action="EditSquare" asp-controller="BKG" asp-route-id="@square.Id" asp-route-board="@Model.Id" asp-route-category="@square.CategoryId" class="square">

                            <p class="square-value text-center">$@square.Value</p>
                            <p class="square-question text-center">@square.Question</p>
                        </a>
                    }
                </div>
                <div class="square-container">
                    @foreach (var square in Model.Squares.OrderBy(x => x.SquareId).Skip(10).Take(5))
                    {

                        <a asp-action="EditSquare" asp-controller="BKG" asp-route-id="@square.Id" asp-route-board="@Model.Id" asp-route-category="@square.CategoryId" class="square">

                            <p class="square-value text-center">$@square.Value</p>
                            <p class="square-question text-center">@square.Question</p>
                        </a>
                    }
                </div>
                <div class="square-container">
                    @foreach (var square in Model.Squares.OrderBy(x => x.SquareId).Skip(15).Take(5))
                    {

                        <a asp-action="EditSquare" asp-controller="BKG" asp-route-id="@square.Id" asp-route-board="@Model.Id" asp-route-category="@square.CategoryId" class="square">

                            <p class="square-value text-center">$@square.Value</p>
                            <p class="square-question text-center">@square.Question</p>
                        </a>
                    }
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
                <a class="btn btn-secondary" asp-action="ExportBoard" asp-route-id="@Model.Id">Export</a>

            </div>
        </form>
    </div>


</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
