<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Spirit Filled Games">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spirit Filled Games</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap.min.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/css/font-awesome.min.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/css/elegant-icons.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/css/plyr.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/css/nice-select.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/css/owl.carousel.min.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/css/slicknav.min.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/css/style.css")" type="text/css">
</head>
<body>


    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <h6 class="text-white">Spirit Filled Games</h6>
                        <!--
                        <a href="./index.html">
                            
                            <img src="images/logo.png" alt="">
                        </a>-->
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>

                                <!--
    <li>
        <a href="./categories.html">Categories <span class="arrow_carrot-down"></span></a>
        <ul class="dropdown">
            <li><a href="./categories.html">Categories</a></li>
            <li><a href="./anime-details.html">Anime Details</a></li>
            <li><a href="./anime-watching.html">Anime Watching</a></li>
            <li><a href="./blog-details.html">Blog Details</a></li>
            <li><a href="./signup.html">Sign Up</a></li>
            <li><a href="./login.html">Login</a></li>
        </ul>
    </li>-->
                                <li class="active"><a asp-action="Index" asp-controller="Home">Home</a></li>
                                <li><a asp-action="Index" asp-controller="Games">Manage</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <!--<a href="#" class="search-switch"><span class="icon_search"></span></a>-->
                        <partial name="_LoginPartial" />

                        
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->
    <!-- Normal Breadcrumb Begin -->
   
    <!-- Normal Breadcrumb End -->
    <!-- Blog Section Begin -->
    @RenderBody()
    <!-- Blog Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="page-up">
            <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer__logo">
                        <a href="./index.html">Spirit Filled Games</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer__nav">
                        <ul>
                            <li class="active"><a href="./index.html">Homepage</a></li>
                           
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
    <!-- Js Plugins -->
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/player.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/mixitup.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>

    <!--
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a asp-action="Index" asp-controller="Home" class="navbar-brand">Spirit Filled Games</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="Url.Action("Index","Home")">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>




            </ul>

        </div>
        <partial name="_LoginPartial" />

    </nav>
    -->



    <!--  <partial name="_CookieConsentPartial" />-->
    

   

    @RenderSection("Scripts", required: false)
</body>
</html>
